:root {
    --letra-span: #2196F3;
    --letra-price: #21F343
}
@font-face {
    font-family: ejemplo;
    src: url("fonts/letra1.ttf")
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.nav-header {
    display: grid;
    height: 150px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.div-input-search{
    position: relative;
    padding: 10px;
}
.div-input-search input {
    height: 30px;
    width: 300px;
    border-radius: 10px;
}
.icon {
    position: absolute;
    right: 14px;
    top: 13px;
}
.icon .fa-solid{
    font-size: 25px;
    color: #c8c8c8;
    cursor: pointer;
}

.icon-user .fa-solid{
    font-size: 25px ;
    margin: 20px;
    cursor: pointer;
}
.div-bar{
    display: none;
    border: none;
    background: none;
}

/*****************************************************************************/

.section-main {
    background-color: #efefef;
    padding-left: 50px;
    padding-right: 50px;
}
.container-menu {
    padding-top: 40px;
}
.container-menu ul {
    list-style: none;
}
.container-menu li {
    display: inline-block;
}
.container-menu a {
    margin: 20px;
    text-decoration: none;
    color: black;
    font-family: ejemplo, serif;
}
.container-menu li:hover, li.active {
    transform: scale(1.3);
    transition: .4s;
}

/**************************************************************/
.div-multimedia {
    margin-top: 50px;
}
.div-multimedia video {
    width: 640px;
    height: 250px;
}
/***************************************************************/
.div-vendido {
    margin-top: 20px;
    justify-self: start;
}
.div-vendido h2 {
    font-size: 25px;
    font-family: "Arial Black", serif;
    font-weight: bold;
}
/****************************************************************/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}
.cards-vendidos {
    background-color: white;
    height: 320px;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}
.cards-vendidos:hover {
    transform: scale(0.9);
}
.icon-heart {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between ;
}
.icon-heart h2 {
    margin: 0;
    font-size: 15px;
    padding-left: 20px;
}
.icon-heart .fa-sharp {
    font-size: 20px;
}
.div-img {
    width: 250px;
    margin: 10px;
}
.div-img img {
    width: 100%;
    height: 150px;
}
.div-price-envio {
   padding-left: 20px;
    margin-top: 15px;
}
.div-price-envio .price {
    color: var(--letra-price);
    font-family: "Arial Black", serif;
    font-weight: bold;
}
.div-price-envio span {
    font-weight: bold;
    color: var(--letra-span);
    font-family: "Arial Black", serif;
}

/*!*****************************************************************************!*/

.section-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
    justify-items: center;
}
.fa-solid {
    font-size: 30px;
}
.fa-brands {
    font-size: 30px;
    margin: 15px;
}
.red-social p {
    color: var(--letra-span);
    margin-bottom: 0;
    padding-left: 20px;
}
.call {
    margin-top: 10px;
    margin-bottom: 3px;
}
.call span {
    color: var(--letra-span);
}
.call p {
    margin: 0;
}
.call .fa-solid {
    margin-top: 10px;
    margin-right: 3px;
}

@media screen and (max-width: 580px) {
    .section-footer {
        grid-template-columns: repeat(1, 1fr);
    }
    .container-menu li {
        display: block;
        margin-top: 20px;
    }
    .div-multimedia video {
        width: 300px;
        height: 250px;
    }
    .div-multimedia {
        margin: 0;
    }
}

@media screen and (max-width: 900px) {
    .div-login-car{
        display: none;
    }
    .div-bar{
        display: block;
        cursor: pointer;
        font-size: 30px;
    }
    .nav-toggle {
        position: fixed;
    }
}
@media screen and (max-width: 760px) {
    .div-input-search {
        display: none;
    }
    .nav-header {
        grid-template-columns: repeat(2, 1fr);
    }
}



